

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 100vh;
}
.product-right, .product-left{
    width: 50%;
    padding: 3rem 2rem;
}
.product-left img{
    width: 100%;
    display: block;
}
.product-right{
    text-align: center;
    color: #fff;
}
.product-right h2{
    font-weight: 500;
    font-size: 2.8rem;
    line-height: 1.2;
    max-width: 500px;
    margin: 2rem auto 1rem auto;
}
.text{
    font-weight: 500;
    font-size: 1.2rem;
    display: block;
}

#product-sec-1{
    background-color: #000;
}
#product-sec-1 .product-left img{
    width: 70%;
}
#product-sec-2{
    background-color: #fafafa;
}
#product-sec-2 .product-right{
    color: #000;
    order: 1;
}
#product-sec-2 .product-left{
    order: 2;
}

#product-sec-3 .container, #product-sec-4 .container{
    align-items: flex-end;
}
#product-sec-3 .product-right, #product-sec-4 .product-right{
    width: 100%;
    color: #000;
    padding-bottom: 6rem;
}



@media screen and (max-width: 992px){
    .product-left img{
        margin: 0 auto;
    }
    #product-sec-1 .container, #product-sec-2 .container{
        flex-direction: column;
    }
}